<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="com.example.coupv2.app.AppController"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.CoupV2"
        tools:targetApi="31">

<!--         Main activity that serves as the entry point for the application-->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <!-- This activity is the main entry point of the app and appears in the app launcher -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


<!--        <activity android:name=".MainActivity" android:exported="true"/>-->
        <activity
            android:name=".SignupActivity"
            android:exported="true" />

         <activity
            android:name=".LoginActivity"
            android:exported="false">
        </activity>
        <activity
            android:name=".SpectatorActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".MenuActivity"
            android:exported="false" />

        <activity
            android:name=".FriendsActivity"
            android:exported="false" />

        <activity
            android:name=".EndActivity"
            android:exported="false" />

        <activity
            android:name=".SettingActivity"
            android:exported="false" />

        <activity
            android:name=".StatsActivity"
            android:exported="false" />
        <activity
            android:name=".ActionActivity"
            android:exported="true" />
        <activity
            android:name=".LobbyActivity"
            android:exported="false" />
        <activity
            android:name=".MessageActivity"
            android:exported="false" />
        <activity
            android:name=".AfterCreateLobbyActivity"
            android:exported="false" />
        <activity
            android:name=".AfterJoinLobbyActivity"
            android:exported="false" />
<!--        <activity-->
<!--            android:name=".TestActivity"-->
<!--            android:exported="false" />-->

        <activity
            android:name=".ListActivity"
            android:exported="false" />

        <activity
            android:name=".AdminActivity"
            android:exported="false" />


                <activity
            android:name=".TestActivity"
            android:exported="false" />

<!--        <activity-->
<!--            android:name=".TestActivity"-->
<!--            android:exported="true">-->
<!--            &lt;!&ndash; This activity is the main entry point of the app and appears in the app launcher &ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->

        <!-- Set PlayActivity as the starting activity -->
<!--        <activity-->
<!--            android:name=".PlayActivity"-->
<!--            android:exported="true"> &lt;!&ndash; Ensure this is true as this activity will be the entry point &ndash;&gt;-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN"/>-->
<!--                <category android:name="android.intent.category.LAUNCHER"/>-->
<!--            </intent-filter>-->
<!--        </activity>-->
                <activity
                    android:name=".PlayActivity"
                    android:exported="true" />
        <activity
            android:name=".GameChatActivity"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>
